{% extends '../base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<h1>Sign In Using</h1>
<ul>
    <li><a title="Google" href="{{ google_oauth_url }}">Google</a></li>
</ul>
{% endblock %}