{% extends '/templates/base.html' %}

{% block content %}
<h1>Admin Clients Default</h1>
<client-list id="clientList"></client-list>
{% endblock %}

{% block bodyscripts %}
<script type="module" src="/static/js/admin.clients.js"></script>
<script>
(function(){
    const cl = document.getElementById('clientList');
    cl.addEventListener('addClient', function(e){
        console.log(e);
    });
})();
</script>
{% endblock %}