<!doctype html>
<html>
    <head>
        {% block meta -%}
        {%- endblock %}
        {% block authorization -%}
        {%- endblock %}
        <title>{% block title %}Welcome{% endblock %}</title>
        {% block links -%}
        {%- endblock %}
        {% block headscripts -%}
        {%- endblock %}
    </head>
    <body>
        {% block content -%}
        {%- endblock %}
        {% block bodyscripts -%}
        {%- endblock %}
    </body>
</html>